@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CurrentPassword" class="control-label"></label>
        <input asp-for="CurrentPassword" class="form-control" type="password" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div><br>
    <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-action="Details" asp-controller="Profile"
            asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Back to Profile</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
