@model EditPostViewModel

@{
    ViewData["Title"] = "Edit Post";
}

<h2>Edit Post</h2>

<form asp-action="EditPost" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        @* <label asp-for="Content"></label> *@
        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    <a asp-action="PostDetails" asp-route-id="@Model.Id" class="btn btn-secondary mt-3">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
